/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Fonts */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One Regular'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v10/UqyVK80NJXN4zfRgbdfbk5k.woff2) format('woff2');
}

/* Body */
body {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  color: #212529;
  margin-top: 80px; /* Adjusted for the fixed nav height */
}

/* Navigation */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ff9203;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top: 10px; /* Adjusted to separate from the nav */
}

.nav-links a {
  color: #000;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Social Icons */
.icons-header {
  display: flex;
  align-items: center;
}

.icons-header a {
  color: black;
  margin: 0 10px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Logo */
#logo-img {
  width: 100px;
}

/* Call Button */
/* Stylish Button */
.call-me {
  background-color: #E22E5C; 
  color: #070707; 
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition */
}

.call-me:hover {
  background-color: #E5BF4A; 
}

.call-me:focus {
  outline: none; /* Remove focus outline */
}

#hero{
  background-image: url(../assets/images/cafe-background.jpg);
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100%  100%;
  background-attachment: fixed;

}

#hero-overlay{
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
}

#subtext-one{
  font-size: 60px;
  }
  
  #subtext-two{
  font-size: 90px;
  }